// Estilos generales de la aplicación

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Quicksand";
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 7px 0;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}

a,
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.section {
  padding: 70px 0px;
}

section.section_high {
  min-height: calc(100vh - 70px);
  background-size: auto 100%;
}

section h3 {
  font-size: 70px;
  @media #{$desktop_query} {
    section h3 {
      font-size: 50px;
    }
  }

  @media #{$mobile_query} {
    font-size: 42px;
  }
}
.button {
  background: none;
  border: none;
  padding: 10px 25px;
  outline: none;
  cursor: pointer;
}
.button,
.button:hover,
.button:active,
.button:focus {
  outline: none;
}

.button.cuadro {
  padding: 10px 15px;
}

.button.general_button {
  position: relative;
  width: 200px;
  perspective: 400px;
  background-color: transparent;
  font-family: "Quicksand";
  padding: 0;
  font-size: 17px;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  span {
    display: block;
    position: relative;
    transition: 0.3s ease-in-out all;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    background-color: transparent;
    color: white;
    width: 100%;
    border: 2px solid;
    padding: 15px 30px;

    &:after {
      padding: 15px 0px;
      display: block;
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.3s ease-in-out all;
      transform-origin: 50% 0;
      transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      background-color: $dorado;
      color: #fff;
      font-weight: bold;
      width: 100%;
      opacity: 0;
      text-align: center;
    }
  }

  &:hover span {
    transform: translate3d(0px, 0px, -30px) rotateX(90deg);

    &:after {
      opacity: 1;
    }
  }

  &.button_dark span {
    color: white;
    /*background: black;
    border: none !important;*/
    border: 1px solid #fff;

    &:after {
      transform: translate3d(0px, 100%, 0px) rotateX(-90deg);
    }
  }

  @media #{$mobile_query} {
    display: block;
    width: 100%;
  }
}

/* Font weight */

.bold {
  font-weight: bold;
}

/* Color fonts */
.blanco {
  color: $blanco;
}
/* .button.general_button {
  font-size: 17px;
  padding: 15px 30px;
  border: 2px solid;
  width: 190px;
  font-family: "Quicksand";
  font-weight: bold;
  transition-property: background, color;
  transition-duration: var(--speedtransition);
  max-width: 100%;
}
.button.general_button:hover {
  color: #ffffff;
  background: #dab27c;
} */

form {
  .field {
    margin: 0.8em 0;

    input.text,
    textarea.text {
      background: none;
      padding: 10px 15px;
      color: white;
      resize: none;
      font-size: 1rem;
      width: 100%;
      display: block;
      border: 2px solid #ffffff99;
      outline: none;
      font-family: "QuickSand";

      &::placeholder,
      &::-ms-input-placeholder,
      &::-ms-input-placeholder {
        color: white;
        opacity: 0.7; /* Firefox */
        font-family: "QuickSand";
      }
    }
  }
}

.img_fill {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: inherit;
  transition: transform $speedtransition;
}
.img_fill_h {
  height: 100%;
  width: auto;
}
.img_fill_w {
  height: auto;
  width: 100%;
}
#whatsapp_contact {
  display: none;
  &.whatsapp_active {
    display: block;
  }
}
.left_to_right_container {
  position: relative;
  img {
    transition: transform $speedtransition;
    &.left {
      transform: translateX(100%);
    }
    &.right {
      filter: grayscale(1);
    }
  }

  &:hover {
    img.left {
      transform: translateX(0%);
    }
    img.right {
      transform: translateX(-100%);
    }
  }
}
