footer {
  background: $dorado;
}
.footer_header {
  padding: 3em 0px;
}
.footer_foot {
  padding: 0.7em 0;
  background-color: $dorado;
  border-top: 1px solid white;
}

@media #{$tablet_query} {
  .mazal_logo_footer {
    text-align: center;
    max-width: 230px;
    margin: auto;
  }
}

@media #{$mobile_query} {
  #rights_footer {
    display: block;
  }
}

.footer_list{
  h4{
    font-weight: 600;
  }
  span{
    font-weight: 300;
  }
}