footer {
  background: #34343c;
}
.footer_header {
  padding: 3em 0px;
}
.footer_foot {
  padding: 0.7em 0;
  background-color: #242429;
}

@media #{$tablet_query} {
  .mazal_logo_footer {
    text-align: center;
    max-width: 230px;
    margin: auto;
  }
}
