header {
  @media #{$desktop_query} {
    // height: 50px !important;
    background: rgb(0, 0, 0);
  }

  position: fixed;
  top: 0;
  width: 100%;
  height: 160px;
  left: 0;
  text-transform: uppercase;
  z-index: 10;
  transition: all 0.3s;
  z-index: 130;
  &.in_scroll {
    height: 70px;
    background: $dorado;

    .menu_logo i.icon-logo {
      // font-size: 35px;
      transition: all 0.3s;
    }
    @media #{$desktop_query} {
      // height: 50px;
      .menu_logo i.icon-logo {
        // font-size: 25px;
      }
    }
  }

  .black_background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+95&0.91+0,0+93 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  i.icon_logo {
    transition: all 0.3s;
  }

  nav,
  nav button {
    font-family: "$font1", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }

  #icon_bars {
    @media (max-width: 991px) {
      padding-right: 0px;
    }
    z-index: 30;
    display: none;
    position: relative;

    i {
      font-size: 22px;
    }
  }

  button i {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  // header{
  //   height: 50px !important;
  // }
  .menu_logo i.icon-logo {
    font-size: 25px !important;
  }
}


.redes-home{
  position: initial !important;
  display: flex;
}

.home-ds-search{
  position: absolute;
    top: 22px;
    right: 100px; 
}
.home-ds-lang{
  right: 160px !important; 
}

.header_top {
  display: flex;
  height: 100%;
  max-height: 100px;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 10;
  transition: background $speedtransition;
  &.black {
    background: rgba(0, 0, 0, 0.884);
  }
}
.super_menu_item_active > a.text-white {
  // font-weight: bold;
  display: none;
}
.header_top_submenu li {
  color: white;
  padding: 10px 0;
  a {
    font-family: $font1;
    font-weight: 300;
  }
}

.header_top_left {
  width: 10%;
  z-index: 20;
}
.menu_logo_li {
  min-width: 120px;
  max-width: 225px;

  .icon-logo {
    font-size: 38px;
  }
  .menu_logo a {
    padding: 20px 0;
  }
}

@media (max-width: 1250px) {
  .header_top_list {
    position: fixed;
    top: 70px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 70px) !important;
    width: 80%;
    max-width: 350px;
    background: #000000eb;
    align-items: flex-end !important;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start !important;
    text-align: right;
    padding-top: 25px;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }

    li {
      height: 50px !important;
      a {
        font-size: 16px !important;
      }
    }
  }
  #icon_bars {
    display: block !important;
  }

  header {
    height: 70px;
    background: black;
    .menu_logo i.icon-logo {
      font-size: 32px;
      transition: all 0.3s;
    }
  }
  .header_top_list li + li a {
    border-left: 0 !important;
  }

  span.language {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header_top_list {
    top: 70px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 70px) !important;
  }
}

.header_top_list {
  @media #{$desktop_query} {
    position: fixed;
    // top: 50px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 50px);
    width: 80%;
    max-width: 350px;
    background: #000000eb;
    align-items: flex-end;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    text-align: right;
    padding-top: 50px;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }
  }

  display: flex;
  height: 100%;
  align-items: center;
  width: 90%;
  justify-content: flex-end;

  & > li {
    @media #{$desktop_query} {
      height: 50px;
      animation-name: none !important;
      animation-duration: 0s !important;
      opacity: 1;
    }
    animation-delay: 0.9s;
    opacity: 0;
    animation-duration: 0.9s !important;
    padding: 13px 0;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      font-family: raleway;
      @media #{$fluid_query} {
        font-size: 11px;
      }

      @media #{$desktop_query} {
        font-size: inherit;
      }

      padding: 20px 1vw;
      color: white;
      padding: 0px 1vw;
      display: block;
      font-size: 11px;
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 5px white, 0 0 5px white;
      }
    }
  }

  li a {
    font-family: $font1;
    @media screen and (min-width: $desktop_pixels) {
      // border-left: 1px solid white;
    }
  }
  li:first-child a {
    border-left: 0px solid white;
  }
}
.super_menu_item_active .super_menu_comenext {
  display: none !important;
}
.super_menu_comeback {
  margin-bottom: 20px;
  display: none;
}
.super_menu_item_active {
  display: none;
  .super_menu_comeback {
    display: block;
  }
}
.header_top_list > li:after {
  position: absolute;
  content: "";
  width: 80%;
  opacity: 0;
  left: 10%;
  height: 2px;
  bottom: 20%;
  background: #fff;
}
.header_top_list li.active::after {
  opacity: 1;
}
.aside_language {
  position: absolute;
  top: 29px;
  right: 100px;
}
a.languages_toggle {
  font-family: $font1;
  display: flex;
  align-items: center;
  span {
    color: white;
    font-size: 11px;
  }
  span.language {
    transition: transform $speedtransition;
    font-family: $font1;
    width: 20px;
    color: #fff;
    font-size: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0px;
    opacity: 0.6;
    i {
      margin: -3px 0;
    }
    &.language_active {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.header_top_list > li.languages_header {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  // height: 26px;
  // overflow: hidden;
  // padding: 0;
  a {
    display: flex;
    align-items: center;
  }
  span {
    color: white;
    font-size: 11px;
  }
  span.language {
    transition: transform $speedtransition;
    font-family: $font1;
    width: 20px;
    color: #fff;
    font-size: 13px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0px;
    opacity: 0.6;
    i {
      margin: -3px 0;
    }
    &.language_active {
      opacity: 1;
      font-weight: bold;
    }
  }
  &.spanish button.button {
    transform: translateY(100%);
  }
}

@media (max-width: 1250px) {
  .header_top_list > li.languages_header {
    span {
      font-size: 16px;
    }
    span.language {
      width: initial;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .menu_logo {
    margin: 0;
  }
}

.header_top_right {
  width: 100%;
  height: 100%;
  justify-content: flex-end !important;
  .direct_header_button {
    height: 100%;
    position: relative;
  }
}
.dynamic_header_top {
  border-top: 1px solid rgba(255, 255, 255, 0.623);
  height: 230px;
  display: flex;
  background: rgba(0, 0, 0, 0.918);
  align-items: center;
  position: relative;
  transition-duration: $speedtransition;
  transform: translateY(-150%);
  z-index: 0;

  &.active {
    transform: translateY(0%);
    .dynamic_data.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.dynamic_data {
  position: fixed;
  width: 100%;
  transition-property: opacity;
  transition-duration: $speedtransition;
  opacity: 0;
  visibility: hidden;
}

/* .dynamic_list{
  color: white;
  height: 100%;
  font-family: "$font1";
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.dynamic_list li{
	padding: 6px 0;
	display: flex;
	align-items: center;
  font-size: 16px;
  cursor: pointer;
  
} */

.dynamyc_description {
  text-transform: initial;
  padding: 10px 15px;
  color: white;
}
.dynamic_images {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.dynamic_image_single {
  width: 230px;
  min-width: 230px;
  height: 230px;
  overflow: hidden;
  cursor: pointer;
}
.dynamic_image_container {
  width: 100%;
  height: 85%;
  overflow: hidden;
}
.dynamic_image_text {
  color: white;
  text-align: center;
  font-family: $font1;
  margin-top: 0.8em;
  font-size: 0.7em;
}

.search_modal_form {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.86);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: none;
  align-items: center;
  padding: 0 15px;

  &.active {
    display: flex;
    z-index: 100;
  }
  .search_modal_form_wrap {
    max-width: 550px;
    width: 100%;
  }
}
.home-button-close{
 font-size: 15px !important;
}

#form_search_text {
  background: white;
  color: rgb(63, 63, 63);
  padding: 14px;
  margin-bottom: 30px;
}
.danger_form {
  padding: 0;
  margin-top: 10px;
  color: #e88e8e;
  span {
    font-size: 13px;
    font-weight: 400;
  }
}

#icon_search {
  font-size: 15px;
}
#icon_favorites {
  position: relative;
  &:hover #favorites_header {
    display: block;
  }
}
#open_shares {
  position: static !important;
  &:hover ul {
    transform: translateX(0%);
  }
  i {
    color: white;
  }
  ul {
    transition: transform 0.4s;
    transform: translateX(120%);
    position: absolute;
    background: #000000bf;
    padding: 10px 15px;
    right: 0;
    display: flex;
    width: 180px;
    top: 100%;
    li {
      margin: 0 10px;
    }
  }
}
#favorites_ul_header {
  max-height: 200px;
  overflow: auto;
}
#favorites_header {
  background: white;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 220px;
  box-shadow: 0 0 3px #00000038;
  .single_favorite + .single_favorite {
    border-top: 1px solid #eaeaea;
  }
  .single_favorite {
    display: flex;
    align-items: center;
    padding: 6px;

    &:hover {
      background: #efefef;
      // span{
      //   color:white;
      // }
    }
  }

  .single_favorite_img {
    width: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .single_favorite_title {
    padding: 7px;
    font-size: 15px;
    width: 65%;
    span {
      color: #000;
    }
  }
}
.super_menu_comenext {
  display: none !important;
}
.header_top_submenu {
  display: none;
}
@media #{$desktop_query} {
  .super_menu_comenext {
    display: block !important;
  }
}

@media #{$tablet_query} {
  .header_top_list > li:after {
    display: none;
  }
  .header_top {
    padding: 0 15px;
  }
  .dynamic_header_top {
    display: none;
  }
  #favorites_header {
    position: fixed;
    right: 0;
    top: 100%;
    // height: calc(100% - 50px);
    z-index: 100;
    top: 70px;
    transition: transform 0.5s;
    transform: translateX(100%);
  }
  #icon_favorites:hover #favorites_header {
    transform: translateX(0%);
  }
  #favorites_ul_header {
    max-height: 100%;
    overflow: auto;
  }
}
