header {
  @media #{$desktop_query} {
    // height: 50px !important;
    background: rgb(0, 0, 0);
  }

  position: fixed;
  top: 0;
  width: 100%;
  height: 160px;
  left: 0;
  text-transform: uppercase;
  z-index: 10;
  transition: all 0.3s;
  z-index: 130;
  &.in_scroll {
    height: 70px;
    background: $dorado;

    .menu_logo i.icon-logo {
      // font-size: 35px;
      transition: all 0.3s;
    }
    @media #{$desktop_query} {
      // height: 50px;
      .menu_logo i.icon-logo {
        // font-size: 25px;
      }
    }
  }

  .black_background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+95&0.91+0,0+93 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.91) 0%,
      rgba(0, 0, 0, 0) 93%,
      rgba(0, 0, 0, 0) 95%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  i.icon_logo {
    transition: all 0.3s;
  }

  nav,
  nav button {
    font-family: "$font1", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }

  #icon_bars {
    @media (max-width: 991px) {
      // padding-right: 0px;
    }
    z-index: 30;
    display: none;
    position: relative;

    i {
      font-size: 22px;
    }
  }

  button i {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  // header{
  //   height: 50px !important;
  // }
  .menu_logo i.icon-logo {
    font-size: 25px !important;
  }
}

.redes-home {
  position: initial !important;
  display: flex;
}

.home-ds-search {
  position: absolute;
  top: 22px;
  right: 100px;
}
.home-ds-lang {
  right: 160px !important;
}

.header_top {
  display: flex;
  height: 100%;
  max-height: 100px;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 10;
  transition: background $speedtransition;
  &.black {
    background: rgba(0, 0, 0, 0.884);
  }
}
.super_menu_item_active > a.text-white {
  // font-weight: bold;
  display: none;
}
.header_top_submenu li {
  color: white;
  padding: 10px 0;
  a {
    font-family: $font1;
    font-weight: 400;
  }
}

.header_top_left {
  width: 10%;
  z-index: 20;
  padding-left: 15px;
}
.menu_logo_li {
  min-width: 120px;
  max-width: 225px;

  .icon-logo {
    font-size: 38px;
  }
  .menu_logo a {
    padding: 20px 0;
  }
}

.super_menu_comenext {
  display: none !important;
  i {
    font-size: 25px;
  }
}
.header_top_submenu {
  display: none;
}

@media (max-width: 1250px) {
  .header_top_list > li:after {
    display: none;
  }

  .header_top_list > li {
    animation-name: none !important;
    animation-duration: 0s !important;
    opacity: 1 !important;
  }

  .dynamic_header_top {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .header_top_list {
    position: fixed;
    top: 70px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 70px) !important;
    width: 80%;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.9);
    align-items: flex-end !important;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start !important;
    text-align: right;
    padding-top: 25px;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }

    li {
      height: 50px !important;
      align-items: center !important;
      a {
        font-size: 16px !important;
      }
    }
  }
  #icon_bars {
    display: block !important;
  }

  header {
    height: 70px;
    background: black;
    .menu_logo i.icon-logo {
      font-size: 32px;
      transition: all 0.3s;
    }
  }
  .header_top_list li + li a {
    border-left: 0 !important;
  }

  .super_menu_comenext {
    display: block !important;
  }

  span.language {
    font-size: 18px;
  }

  // .banner_item{
  //   height: calc(100vh - 70px);
  // }
}

@media (max-width: 768px) {
  .header_top_list {
    top: 70px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 70px) !important;
  }
}

.header_top_list {
  @media #{$desktop_query} {
    position: fixed;
    // top: 50px;
    right: 0;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 50px);
    width: 80%;
    align-items: flex-end;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    text-align: right;
    padding-top: 50px;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }
  }

  display: flex;
  height: 100%;
  align-items: center;
  width: 90%;
  justify-content: flex-end;

  & > li {
    @media #{$desktop_query} {
      height: 50px;
      animation-name: none !important;
      animation-duration: 0s !important;
      opacity: 1;
    }
    animation-delay: 0.9s;
    opacity: 0;
    animation-duration: 0.9s !important;
    padding: 13px 0;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      font-family: raleway;
      @media #{$fluid_query} {
        font-size: 11px;
      }

      @media #{$desktop_query} {
        font-size: inherit;
      }

      padding: 20px 1vw;
      color: white;
      padding: 0px 1vw;
      display: block;
      font-size: 11px;
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 5px white, 0 0 5px white;
      }
    }
  }

  li a {
    font-family: $font1;
    @media screen and (min-width: $desktop_pixels) {
      // border-left: 1px solid white;
    }
  }
  li:first-child a {
    border-left: 0px solid white;
  }
}
.super_menu_item_active .super_menu_comenext {
  display: none !important;
}
.super_menu_comeback {
  display: none;
  a {
    width: 40px;
    padding-bottom: 20px !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -o-flex !important;
    align-items: center;
    justify-content: center;
  }
  i {
    font-size: 25px;
  }
}
.super_menu_item_active {
  display: none;
  .super_menu_comeback {
    width: 100%;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -o-flex !important;
    justify-content: flex-end;
  }
}
.header_top_list > li:after {
  position: absolute;
  content: "";
  width: 80%;
  opacity: 0;
  left: 10%;
  height: 2px;
  bottom: 20%;
  background: #fff;
}
.header_top_list li.active::after {
  opacity: 1;
}
.aside_language {
  position: absolute;
  top: 29px;
  right: 100px;
}
a.languages_toggle {
  font-family: $font1;
  display: flex;
  align-items: center;
  span {
    color: white;
    font-size: 11px;
  }
  span.language {
    transition: transform $speedtransition;
    font-family: $font1;
    width: 20px;
    color: #fff;
    font-size: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0px;
    opacity: 0.6;
    i {
      margin: -3px 0;
    }
    &.language_active {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.header_top_list > li.languages_header {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  // height: 26px;
  // overflow: hidden;
  // padding: 0;
  a {
    display: flex;
    align-items: center;
  }
  span {
    color: white;
    font-size: 11px;
  }
  span.language {
    transition: transform $speedtransition;
    font-family: $font1;
    width: 20px;
    color: #fff;
    font-size: 13px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0px;
    opacity: 0.6;
    i {
      margin: -3px 0;
    }
    &.language_active {
      opacity: 1;
      font-weight: bold;
    }
  }
  &.spanish button.button {
    transform: translateY(100%);
  }
}

@media (max-width: 1250px) {
  .header_top_list > li.languages_header {
    span {
      font-size: 16px;
    }
    span.language {
      width: initial;
      font-size: 16px;
    }
  }
  #section_banner_intern {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .menu_logo {
    margin: 0;
  }
}

.header_top_right {
  width: 100%;
  height: 100%;
  justify-content: flex-end !important;
  .direct_header_button {
    height: 100%;
    position: relative;
  }
}
.dynamic_header_top {
  border-top: 1px solid rgba(255, 255, 255, 0.623);
  height: 230px;
  display: flex;
  background: rgba(0, 0, 0, 0.918);
  align-items: center;
  position: relative;
  transition-duration: $speedtransition;
  transform: translateY(-150%);
  z-index: 0;

  &.active {
    transform: translateY(0%);
    .dynamic_data.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.dynamic_data {
  position: fixed;
  width: 100%;
  transition-property: opacity;
  transition-duration: $speedtransition;
  opacity: 0;
  visibility: hidden;
}

/* .dynamic_list{
  color: white;
  height: 100%;
  font-family: "$font1";
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.dynamic_list li{
	padding: 6px 0;
	display: flex;
	align-items: center;
  font-size: 16px;
  cursor: pointer;
  
} */

.dynamyc_description {
  text-transform: initial;
  padding: 10px 15px;
  color: white;
}
.dynamic_images {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.dynamic_image_single {
  width: 230px;
  min-width: 230px;
  height: 230px;
  overflow: hidden;
  cursor: pointer;
}
.dynamic_image_container {
  width: 100%;
  height: 85%;
  overflow: hidden;
}
.dynamic_image_text {
  color: white;
  text-align: center;
  font-family: $font1;
  margin-top: 0.8em;
  font-size: 0.7em;
}

.search_modal_form {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.86);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: none;
  align-items: center;
  padding: 0 15px;

  &.active {
    display: flex;
    z-index: 100;
  }
  .search_modal_form_wrap {
    max-width: 550px;
    width: 100%;
  }
}
.home-button-close {
  font-size: 15px !important;
}

#form_search_text {
  background: white;
  color: rgb(63, 63, 63);
  padding: 14px;
  margin-bottom: 30px;
}
.danger_form {
  padding: 0;
  margin-top: 10px;
  color: #e88e8e;
  span {
    font-size: 13px;
    font-weight: 400;
  }
}

#icon_search {
  font-size: 15px;
}
#icon_favorites {
  position: relative;
  display: flex;
  align-items: center;

  &:hover #favorites_header {
    // display: block;
    transition: all 0.3s ease-in 0.5;
    visibility: visible;
    opacity: 1;
    // transition-delay: 0;
  }
}

#open_shares {
  position: static !important;
  &:hover ul {
    transform: translateX(0%);
  }
  i {
    color: white;
  }
  ul {
    transition: transform 0.4s;
    transform: translateX(120%);
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 15px;
    right: 0;
    display: flex;
    width: 180px;
    top: 100%;
    li {
      margin: 0 10px;
    }
  }
}
#favorites_ul_header {
  max-height: 280px;
  overflow: auto;
  border-bottom: 1px solid lightgray;

  li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-around;
    text-transform: none !important;
    text-align: center;
  }
}
.action_delete {
  width: 30px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    border: none;
    color: #8a0000;
    &:hover {
      color: #b43d3d;
    }
  }
}
.confirm_delete_item {
  font-size: 11px;
  display: none;
  &.show {
    display: block;
  }
}

#favorites_header {
  background: white;
  visibility: hidden;
  transition: all 0.3s ease-in 0s;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 320px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  .single_favorite + .single_favorite {
    border-top: 1px solid #eaeaea;
  }
  .single_favorite {
    display: flex;
    align-items: start;
    padding: 5px;

    &:hover {
      background: #efefef;
      // span{
      //   color:white;
      // }
    }
  }

  .single_favorite_img {
    width: 50px;
    height: 50px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
    }
    span {
      position: absolute;
      color: #ac8b3b;
      background: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0;
      bottom: -5px;
      right: -7px;
      box-shadow: 0px 0px 3px black;
    }
  }
  .single_favorite_title {
    padding: 0 10px;
    font-size: 15px;
    width: 150px;
    text-align: left;
    & > span {
      margin-bottom: 5px;
      display: block;
    }
    span {
      color: #000;
    }
    a {
      display: flex;
      margin-bottom: 5px;
    }
  }

  .checkbox {
    margin-bottom: 0;
    .checkbox-custom + .checkbox-custom-label:before {
      width: 16px;
      height: 16px;
    }
    .checkbox-custom + .checkbox-custom-label:after {
      top: -3px;
      left: 1px;
      height: 14px;
      display: block;
      width: 14px;
    }
  }

  .action-for-item {
    margin-top: 0;
    margin-left: 18px;

    .add-love {
      width: 20px;
      i {
        font-size: 20px;
      }
    }
  }
}

.single_favorite_title {
  .plus,
  .minus {
    width: 18px;
    height: 18px;
    color: $chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 0.9 !important;
  }
  .minus {
    line-height: 30px;
  }
  .count {
    font-size: 16px;
    font-weight: 500;
    font-family: "Work Sans";
    line-height: 34px;
  }
}

.qty {
  display: flex;
}

.qty .count {
  color: #000;
  display: flex;
  vertical-align: top;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 0 2px;
  min-width: 23px;
  text-align: center;
}
.qty .plus,
.qty .minus {
  font: 18px/1 Arial, sans-serif;
  line-height: 20px;
  text-align: center;
  border: 1px solid gray;
  transition: all 0.2s;
}

.minus:hover {
  background-color: $chocolate !important;
  color: white !important;
}
.plus:hover {
  background-color: $chocolate !important;
  color: white !important;
}
/*Prevent text selection*/
.qty span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.qty input {
  border: 0;
  width: 2%;
}
.qty nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty input:disabled {
  background-color: white;
}

.counter-2 {
  display: flex;
  .plus,
  .minus {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  .count {
    width: 40px;
    font-size: 15px;
  }
}

.cotizar-favoritos {
  padding: 15px;
  a {
    width: 100% !important;
    // padding: 20px !important;
  }
}

@media #{$desktop_query} {
  .header_top {
    padding: 0 0px;
  }
}

@media #{$tablet_query} {
  .header_top_list > li:after {
    display: none;
  }

  .dynamic_header_top {
    display: none;
  }
  #favorites_header {
    position: fixed;
    right: 0;
    top: 100%;
    // height: calc(100% - 50px);
    z-index: 100;
    top: 70px;
    transition: transform 0.5s;
    transform: translateX(100%);
  }
  #icon_favorites:hover #favorites_header {
    transform: translateX(0%);
  }
  #favorites_ul_header {
    max-height: 100%;
    overflow: auto;
  }
}
