.black_background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.522);
  transition: opacity $speedtransition;
}

.bg-white {
  background: white;
}
.bg-gray {
  background: #eeeeee;
}

.banner-categoria .black_background{
  background: rgba(0, 0, 0, 0.75);
}