
.no-left {
  left: 0 !important;
}
.no-right {
  right: 0 !important;
}
.p-0 {
  padding: 0;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.w-init {
  max-width: initial;
}
.h-100 {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.m-0 {
  margin: 0 !important;
}

.z0 {
  z-index: 0;
}
.z1 {
  z-index: 10;
}
.z2 {
  z-index: 20;
}
.z3 {
  z-index: 30;
}