.search_container {
  min-height: 65.7vh;
  margin-top: 70px;
  &.search_empty {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
  }
  h4 {
    font-size: 35px;
    color: #201818;
    font-weight: 400;
    line-height: 1;
  }

  input[type=text]{
    padding: 14px 15px !important;
    margin-bottom: 20px;
  }

}
.search_grid_category {
  // margin: 0 !important;
  margin-top: 30px;
}

.found_container {
  min-height: 45.7vh;
  margin-top: 10px;
  &.found_empty {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 26px;
    color: #201818;
    font-weight: 400; 
  }
}

.dark-search{
  border:1px solid gray !important;
  color:$chocolate !important;
}

.search-buttons{
  display: flex;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:-o-max-content;
  margin: auto !important; 
  a, button{
    margin: 0px 10px !important;
  }
  button:hover::before{
    margin-left: -100% !important;  
  }
}
