.search_container {
  min-height: 65.7vh;
  margin-top: 70px;
  &.search_empty {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 40px;
    color: #201818;
    font-weight: 400;
  }
}
.search_grid_category {
  margin: 0 !important;
}

.found_container {
  min-height: 45.7vh;
  margin-top: 10px;
  &.found_empty {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 26px;
    color: #201818;
    font-weight: 400;
  }
}
