// Se extenderá por las propiedades de los elementos html
// Ejemplo .class_css{ @extend %right_and_left_props }

/* Mobiliario */

#mobiliario:not(.filtrado) {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

%right_and_left_props {
  position: absolute;
  min-width: 50%;
  max-width: 50%;
  cursor: pointer;
  transition: 0.32s all $cubictransition;

  &::after {
    height: 0%;
    content: "";
    position: absolute;
    width: 2px;
    background: #ffffff93;
    top: 0;
    z-index: 20;
    transition: height $speedtransition;
    left: 8vw;
  }
}
.index_body_class header {
  display: none;
}
.right_image_conent,
.left_image_conent {
  @extend %right_and_left_props;
}

#section_banner_index {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.right_image_conent {
  right: 0;
}
.left_image_conent {
  left: 0;
}

.banner_right_img_wrapper {
  width: 50%;
  position: absolute;
  z-index: 10;
  height: 100%;
  overflow: hidden;
  img {
    height: 145%;
    max-width: inherit;
    position: absolute;
    margin: auto;
    left: -99999px;
    right: -99999px;
    width: auto;
    top: -99999px;
    bottom: -99999px;
  }
}
.banner_right_img_down a,
.banner_right_img_top a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .banner_logo_altern {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 302px;
    height: 85px;
  }
}

.banner_right_img_down {
  right: 0;
  transform: translateY(-100%);
}
.banner_right_img_top {
  transform: translateY(100%);
}

/** Less Code */

.less {
  max-width: 18%;
  min-width: 18%;
  z-index: 0;

  .black_background {
    background: #000000d9;
  }

  .banner_context_menu {
    display: none;
  }

  .banner_logo_altern {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .banner_logo {
    display: none;
  }
  &.right_image_conent .banner_logo_altern {
    margin-right: 4.9vw;
  }
  &.right_image_conent .heading3 {
    margin-right: 4.9vw;
  }
}

/** Final Less Code */

/** More Code */

.more {
  // &.right_image_conent .banner_context {
  //   visibility: hidden;
  // }
  &.left_image_conent::after,
  &.right_image_conent::after {
    height: 50%;
  }

  max-width: 82%;
  min-width: 82%;
  .banner_right_img_down,
  .banner_right_img_top {
    transform: translateY(0%);
    transition: transform 0.4s;
    transition-delay: 0.5s;
  }

  .banner_context_menu.right,
  .banner_context_menu.left {
    transition: none;
    transform: translateX(0) !important;
  }

  .black_background {
    background: hsla(0, 0%, 0%, 0.432);
  }
}

/** Final More Code */

.more .banner_context_menu.left .ul_banner_menu > li,
.header_top_list > li {
  animation-name: li_from_left;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.more .banner_context_menu.left .ul_banner_menu > li:nth-child(5),
.header_top_list > li:nth-child(7) {
  animation-delay: 0.1s;
}
.more .banner_context_menu.left .ul_banner_menu > li:nth-child(4),
.header_top_list > li:nth-child(6) {
  animation-delay: 0.2s;
}
.more .banner_context_menu.left .ul_banner_menu > li:nth-child(3),
.header_top_list > li:nth-child(5) {
  animation-delay: 0.3s;
}
.more .banner_context_menu.left .ul_banner_menu > li:nth-child(2),
.header_top_list > li:nth-child(4) {
  animation-delay: 0.4s;
}
.more .banner_context_menu.left .ul_banner_menu > li:nth-child(1),
.header_top_list > li:nth-child(3) {
  animation-delay: 0.5s;
}
.header_top_list > li:nth-child(2) {
  animation-delay: 0.6s;
}

.header_top_list > li:nth-child(1) {
  animation-delay: 0.7s;
}
.more .banner_context_menu.right .ul_banner_menu > li {
  animation-name: li_from_right;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.more .banner_context_menu.right .ul_banner_menu > li:nth-child(3) {
  animation-delay: 0.3s;
}
.more .banner_context_menu.right .ul_banner_menu > li:nth-child(2) {
  animation-delay: 0.2s;
}
.more .banner_context_menu.right .ul_banner_menu > li:nth-child(1) {
  animation-delay: 0.1s;
}

.banner_img_container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.banner_img_right {
  top: inherit;
  height: 144%;
  right: 0;
  left: inherit;
}
.banner_img_left {
  height: 160%;
}

.banner_context {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;

  &:before {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.73))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    bottom: 0;
    content: "";
    height: 27vh;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
.banner_context_subtitle {
  letter-spacing: 0.35vw;
  font-size: 27px !important;
  font-weight: 100;
}

.banner_logo_altern {
  display: none;
}
.banner_logo,
.banner_logo_altern {
  height: 85px;
  margin-bottom: 20px;
  position: relative;

  & > img {
    height: 100%;
    max-width: 100%;
  }

  &::after {
    bottom: -20px;
    position: absolute;
    content: "";
    height: 2px;
    max-width: 60px;
    background: white;
    width: 100%;
    margin-top: 15px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

.banner_context_menu_container {
  font-family: montserrat;
  font-size: 0.89rem;
  font-weight: 300;
  position: absolute;
  bottom: 15vh;
  width: 100%;
  height: 6vh;
  display: flex;
  transition: transform 0.32s;
  justify-content: center;
  align-items: center;
}
.banner_context_menu {
  width: auto;
  height: 100%;
  display: flex;
  transition: transform 0.32s;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0 2rem;

  &.left {
    transform: translateX(-55vw);
  }
  &.right {
    transform: translateX(50vw);
  }
}

.ul_banner_menu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin: 0;
  position: relative;

  & > li {
    padding: 0 17px;
    opacity: 0;
    border-right: 1px solid #fff;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.banner_margin_bottom {
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.banner_bottom_context {
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  // flex-direction: column;
  border-top: 1px solid #ffffff59;

  & > span {
    display: block;
    // margin: auto;
    // width: 90%;
  }

  a,
  span {
    font-size: 14px;
    padding: 0 4px;
  }
  img {
    height: 20px;
    margin-left: 10px;
  }
  a {
    margin-left: 4px;
    color: white;
    border-left: 1.5px solid white;
    span {
      display: flex;
      align-items: center;
    }
  }
}

.footer-message {
  display: flex;
  justify-content: center;
  a,
  span {
    color: white;
    font-size: 13px;
  }
  img {
    height: 20px;
    margin-left: 10px;
  }
}

.banner_margin_right {
  border-left: 1px solid #ffffff59;
}
// #main_interna .banner_margin_right {
//   background: none;
// }
.banner_margin_right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  /*width: 5vw;*/
  min-width: 80px;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(0%, rgba(246, 246, 246, 0)),
    color-stop(78%, rgba(0, 0, 0, 0.4))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(246, 246, 246, 0) 0%,
    rgba(0, 0, 0, 0.4) 78%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(246, 246, 246, 0) 0%,
    rgba(0, 0, 0, 0.4) 78%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(0%, rgba(246, 246, 246, 0)),
    color-stop(78%, rgba(0, 0, 0, 0.4))
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(0%, rgba(246, 246, 246, 0)),
    color-stop(78%, rgba(0, 0, 0, 0.4))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(246, 246, 246, 0) 0%,
    rgba(0, 0, 0, 0.4) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}

.banner_right_context {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_banner_right {
  text-align: center;
  transition: transform $speedtransition;
  transform: translateX(0%);
}

.menu_banner_right > li {
  padding: 3vh 10px;
  img {
    max-width: 18px;
    max-height: 18px;
  }
}
.mini_logo {
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  & > img {
    width: 25px;
  }
}

.popup_container {
  background: rgba(0, 0, 0, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 7px;
  width: 100%;
  display: none;
}

#agendar .popup_wrapper {
  background: white;
  height: 450px;
  width: 100%;
  max-width: 750px;
  transition: transform 0.3s;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-20%);
  &.move {
    transform: translateY(0%);
  }
}

#mobiliario_popup .popup_wrapper {
  background: #000;
  height: 83vh;
  width: 100%;
  max-width: 950px;
  transition: transform 0.3s;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-20%);
  &.move {
    transform: translateY(0%);
  }
}

.popup_close {
  position: absolute;
  right: 8px;
  z-index: 1;
  font-size: 10px;
  top: 8px;
  button {
    padding: 14px !important;
    line-height: 1;
    border: none !important;
    display: flex;
    background: rgba(255, 255, 255, 0.65);
    align-items: center;
    justify-content: center;
  }
  i {
    color: black;
    line-height: 1;
    font-size: 10px;
  }
}
#agendar .popup_left {
  width: 45%;
  position: relative;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    position: absolute;
    left: -30%;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    max-width: inherit;
  }
}

#mobiliario_popup .popup_left {
  &:hover img {
    opacity: 0.9;
    transition: all ease 0.5s;
    transform: scale(1.1);
  }
  &:hover h3 {
    background: rgba(0, 0, 0, 0.25);
    transition: all ease 0.5s;
  }
  align-content: center;
  justify-content: center;
  width: 50%;
  padding: 0;
  display: -webkit-flex;
  // flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: -webkit-all ease 0.5s;
  img {
    height: 100%;
    opacity: 0.75;
    width: auto;
    position: absolute;
    margin: auto;
    max-width: inherit;
    transition: all ease 0.5s;
    transform: scale(1);

    margin: auto;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    top: -9999px;
  }
  h3 {
    align-self: center;
    transition: all ease 0.5s;
  }
}
.poput-title-container {
  margin-bottom: 12px;
}
.popup-button-container {
  margin-top: 35px;
}
#mobiliario_popup h3 {
  background: rgba(0, 0, 0, 0.15);
  border: 1.5px solid #fff;
  font-family: $font3;
  padding: 15px 20px;
  z-index: 2;
  text-align: center;
  width: auto;
}
#agendar .popup_right {
  width: 55%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiliario_popup .popup_right {
  &:hover img {
    opacity: 0.9;
    transition: all ease 0.5s;
    transform: scale(1.1);
  }
  &:hover h3 {
    background: rgba(0, 0, 0, 0.25);
    transition: all ease 0.5s;
  }
  justify-content: center;
  width: 50%;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
  img {
    height: 100%;
    opacity: 0.75;
    width: auto;
    position: absolute;
    max-width: inherit;
    transition: all ease 0.4s;
    transform: scale(1);

    margin: auto;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    top: -9999px;
  }
  h3 {
    align-self: center;
    transition: all ease 0.5s;
  }
}

.popup-icon-container {
  width: 20%;
}
.popup-title {
  width: 100%;
  text-align: left;
  font-weight: 400;
}

.popup-text {
  letter-spacing: -0.3px;
}

.popup-button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: bold;

  &::before {
    content: "AGENDAR";
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:hover::before {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  &:hover::after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.screen_black {
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media #{$desktop_query} {
  .index_body_class header {
    display: block;
  }
  .left_image_conent,
  .right_image_conent {
    .banner_logo_altern {
      display: block;
      height: 50px;
      margin-bottom: 15px;
      position: relative;
      &:after {
        bottom: -13px;
      }
    }
    .banner_logo {
      display: none;
    }
  }

  .banner_context::before {
    background: none;
  }

  .banner_bottom_context {
    height: 60px;
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.73))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.73) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
  }

  .banner_margin_right {
    border: none;
    min-width: 60px;
  }

  .banner_right_img_wrapper {
    width: 100%;
    position: static;
    z-index: 10;
    height: 100vh;
    overflow: hidden;
  }
  #section_banner_index {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  .right_image_conent,
  .left_image_conent {
    min-width: 100%;
    max-width: 100%;
    height: 50%;
  }
  .right_image_conent {
    top: 50%;
  }
  .banner_context_menu {
    transform: translateX(0) !important;
    overflow: auto;
    &.left {
      display: none;
    }
  }
  .banner_right_img_down,
  .banner_right_img_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(0%) !important;
  }
}

@media (max-width: 768px) {
  #section_banner_index {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  .banner_img_left,
  .banner_img_right {
    width: auto !important;
    height: auto !important;
  }
}

@media #{$desktop_query} {
  .banner_right_context {
    justify-content: flex-end;
  }
  .banner_img_container {
    height: 100%;
  }

  .banner_img_left,
  .banner_img_right {
    width: 100%;
    height: auto !important;
  }

  .popup_container {
    z-index: 1900;
  }
  #mobiliario_popup {
    .popup_wrapper {
      flex-direction: column;
      height: 85vh;
      width: 95vh;
    }
    .popup_left,
    .popup_right {
      width: 100%;
      height: inherit;
      margin: auto;
      align-items: center;
      justify-content: center;
      display: -webkit-flex;

      img {
        width: 100vw;
        height: auto;
        margin: auto;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        top: -9999px;
      }
    }
  }
}

@media (max-width: 400px) {
  #mobiliario_popup .popup_left img,
  #mobiliario_popup .popup_right img {
    height: 100%;
    width: auto;
  }
}

@media #{$tablet_query} {
  .popup_container {
    padding: 0 15px;
  }

  #agendar .popup_wrapper {
    flex-direction: column;
    height: auto;
    max-height: 515px;
    width: 78%;
  }
  #agendar .popup_right {
    width: 100%;
    padding: 30px 20px;
    min-width: 300px;
  }
  #agendar .popup_left {
    width: 100%;
    height: 30%;
    img {
      width: 100%;
      height: auto;
      position: static;
    }
  }

  .banner_margin_right,
  .banner_margin_bottom {
    display: none;
  }
  .banner_img_container,
  .right_image_conent {
    .black_background {
      background: rgba(0, 0, 0, 0.15);
    }
  }
  .ul_banner_menu {
    justify-content: initial;
    padding: 10px 0;
    width: 100%;

    & > li {
      min-width: 33.33333333%;
      border: none !important;
      text-align: center;
    }
  }

  .menu_banner_right {
    right: calc(-100%);
    position: relative;
  }
}
@media #{$mobile_query} {
  .ul_banner_menu > li {
    min-width: 50%;
  }

  #agendar .popup_wrapper {
    width: 100%;
  }

  // .banner_margin_right,
  // .banner_margin_bottom {
  //   border: none;
  // }

  // .banner_bottom_context {
  //   & > span {
  //     width: 90%;

  //     font-size: 12px;
  //   }
  // }

  .mini_logo {
    display: none;
  }
}

.popup_close button {
  color: white;
  font-size: 21px !important;
}

@media (max-width: 430px) {
  .banner_img_left,
  .banner_img_right {
    width: auto !important;
    height: 100% !important;
  }
}
