/* ====================  */
/* Página Interna: 360 */
/* ====================  */

#section_tres60,
#section_arq_sos {
  height: $vh100;
  background-size: 100% auto;
  background-position-y: 29%;
}
.tres60_section.section_left {
  background-position: bottom right;
  background-size: cover;
}
.tres60_button_container {
  @media #{$mobile_query} {
    width: 100%;
  }
  .button.general_button {
    margin: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -o-fit-content;
  }
}
.categoria-contenedor {
  width: 60%;
  margin: auto;
}

.tres_60_white_wrap {
  height: $vh100;
  background: $chocolate;
  display: flex;
  top: 0;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  opacity: 0.93;

  p {
    font-weight: 300;
    font-family: $font2;
    width: 90%;
    max-width: 500px;
    line-height: 23px;
    text-align: justify;
    color: $blanco;
  }
}
.tres60_wrap_single {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  &.left {
    padding-left: 9vw;
    @media #{$mobile_query} {
      padding-left: 0vw;
    }
  }
  &.right {
    padding-right: 9vw;
    @media #{$mobile_query} {
      padding-right: 0vw;
    }
    align-items: flex-end;
    .tres60_description_container {
      font-size: 28px;
      padding-right: 0px;
      text-align: right;
    }
    .tres60_title_container h3 {
      font-size: 40px;
      width: 100%;
      padding: 0 15px;
    }
  }
}
.tres60_title_container h3 {
  text-align: left !important;
}

.contrast-seccion-white {
  .tres_60_white_wrap {
    background: white;
    opacity: 0.98;
    h3 {
      color: $chocolate;
      text-shadow: none !important;
    }
    p {
      color: $chocolate;
      font-weight: 400;
      text-shadow: none !important;
    }
  }
}

@media (max-width: 1140px) {
  .tres_60_white_wrap {
    min-height: calc(100vh - 70px);
    height: auto;
    padding: 30px;
  }
}

@media (max-width:991px){
  .tres_60_white_wrap p{
    width:100%;
  }
}

.tres60_title_container {
  @media #{$tablet_query} {
    font-size: 40px;
    width: 100%;
  }

  h3 {
    @media #{$mobile_query} {
      font-size: 29px !important;
    }
    font-size: 49px;
    text-align: center;
  }
}

.tres60_description_container {
  font-size: 28px;
  padding-right: 40px;
}

#section_obra_nueva,
#section_tres60 {
  background-position-y: 80%;
  background-size: auto 100%;
}
.tres60_image_direct {
  display: none;
}

/* ====================  */
/* Final Página Interna: 360 */
/* ====================  */
@media #{$tablet_query} {
  .tres60_section {
    background-size: 130%;
    min-height: inherit !important;
    background-position: bottom;
  }
  .tres60_image_direct {
    display: block;
  }
  .tres_60_white_wrap {
    padding: 40px 0;
    height: auto;
    background: #201818;
    opacity: 1;
    min-height: auto;
    p,
    h3 {
      margin: 8px 0;
      text-shadow: 0 0 5px #000;
    }
    p {
      text-align: left;
      width: 100%;
    }
    h3 {
      text-align: left;
    }
  }
  .categoria-contenedor {
    width: 80%;
    padding: 0 15px;
  }
  .contacto_container {
    width: 100%;
    padding: 35px 15px !important;
  }
}

@media (max-width: 1200px) {
  .categoria-contenedor {
    width: 80%;
    padding: 0 15px;
  }
}

@media #{$mobile_query} {
  .categoria-contenedor {
    width: 100%;
    padding: 0 15px;
  }
}
