#section_banner_intern {
  position: relative;
}
.banner_item {
  position: relative;
  display: block !important;
  height: 100vh;
  overflow: hidden;
}

.banner_caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 130px;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.342);

  h3 {
    font-size: 55px;
  }

  p {
    margin: 20px 0px;
    max-width: 540px;
  }
}

.banner_image img {
  display: block;
  width: 100%;
}
#section_banner_intern .slick-dots {
  bottom: 1.5em;

  li.slick-active button {
    background: $yellowcolor;
  }
  li button {
    background: #e9e9e9;
  }
}
#banner_nav_prev,
#banner_nav_next {
  position: absolute;
  top: 50%;
  color: #ffebd2;
  font-size: 3rem;
  padding: 5px 15px;
}
#banner_nav_next {
  right: 0;
}
