/* ====================  */
/* Página Interna: Contacto y Mapa */
/* ====================  */

#section_contacto {
  background: #201818;
  .black_background {
    background: rgba(0, 0, 0, 0.72);
  }
}
.contact_map_message {
  display: none;
  margin-bottom: 10px;
  &.show {
    display: block;
  }
}

.contact_map_success {
  color: #ccffb8;
  font-size: 17px;
  display: none;
  &.show {
    display: block;
  }
}
.contact_map_error {
  color: #ffb8b8;
  font-size: 17px;
  display: none;
  &.show {
    display: block;
  }
}
.datos {
  line-height: 52px;
  i {
    margin-right: 12px;
  }
}
.contacto_container {
  height: 100%;
  position: relative;
}

.contacto_title {
  position: absolute;
  left: -1.9em;
  top: 5.6em;
  padding-bottom: 0.2em;
  padding-right: 1.7em;
  padding-left: 1.7em;
  border-bottom: 1px solid #b5b3b1;
  font-size: 2.5em;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

.contacto_form_container {
  padding: 3em;
  padding-left: 8em;
}
.contact_social {
  padding-left: 70px;
  display: flex;
  padding-left: 0;
  padding-top: 20px;
  justify-content: center;
  li {
    padding: 0 15px;
    font-size: 1.5em;
    margin: 0 4%;
    img{
      max-width: 18px;
      max-height: 18px;
    }
  }
}
#contacto_form {
  padding-left: 6em;
  padding-bottom: 1.3em;
  border-bottom: 1px solid #ffffffad;
}
@media #{$desktop_query} {
  .contacto_title h3 {
    font-size: 50px;
  }
}
@media #{$tablet_query} {
  .contacto_and_map_wrap {
    height: auto;
  }
}

/* ====================  */
/* Final Página Interna: Contacto y Mapa */
/* ====================  */
