@media (max-width: 991px) {
  #section_banner_intern {
    height: 530px;
    min-height: auto;
  }
  .lineas_container {
    &.lefting {
      flex-direction: column-reverse;
      display: flex;
    }
  }
  .banner_image {
    height: 100%;
    img {
      height: 110%;
      width: auto;
      max-width: inherit;
      position: absolute;
      left: -9999px;
      right: -9999px;
      top: -9999px;
      margin: auto;
      bottom: -9999px;
    }
  }
  .banner_item {
    position: relative;
    display: block !important;
    height: 530px;
    overflow: hidden;
  }
  .galeria_title_container > h3 {
    left: -1.2em;
    top: 3.1em;
    font-size: 55px;
  }
  .galeria_description {
    padding-left: 90px;
  }
  .galeria_container {
    transform: translateY(0%);
  }

  .row_linea_container_left,
  .row_linea_container_right {
    margin-left: 0px;
    margin-right: 0px;
  }

  #section_lineas2 .lineas_container {
    display: flex;
    flex-direction: column-reverse;
  }

  .linea_label {
    transform: rotate(0deg) !important;
    position: static;
  }

  #section_tres60,
  #section_arq_sos {
    background-position-y: 0%;
    // height: 78vh;
    min-height: auto;
  }

  .tres60_title_container h3 {
    font-size: 39px;
  }

  .tres60_description_container {
    font-size: 28px;
    padding-right: 40px;
  }

  .portafolio_show_more_wrap {
    height: 245px;
  }
  .portfolio_show_more_image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -75%;
    z-index: -1;
  }
  .portafolio_single_image {
    // .black_background {
    //   opacity: 1;
    // }
    // .portafolio_mazal_logo {
    //   opacity: 1;
    // }
    &:hover img {
      transform: scale(1);
    }
    // &:hover .portafolio_mazal_logo {
    //   animation: none;
    // }
  }
  // .portafolio_single_image_context {
  //   transform: translateY(0%);
  // }
}

@media (max-width: 768px) {
  .banner_caption {
    padding: 15px;
  }
  .banner_navigation_buttons {
    display: none;
  }

  #section_banner_intern {
    background-size: auto 100%;
    background-position-y: center;
    background-position: center;
  }
  #section_galeria {
    height: auto;
  }
  .galeria_principal_image {
    height: 580px;
  }
  .galeria_photos {
    bottom: 0;
  }
  .galeria_description {
    padding-bottom: 90px;
    padding-left: 160px;
  }
  .galeria_title_container > h3 {
    left: -0.8em;
    top: 2.6em;
    font-size: 61px;
  }
  .lineas_container {
    height: auto;
    display: flex;
    flex-direction: column;
    &.lefting {
      flex-direction: column-reverse;
    }
  }
  .single_linea_wrapper {
    height: calc(50vh - 25px);

    &:hover .single_linea_image img {
      transform: translateX(0) !important;
    }
    .single_linea_image img {
      transform: translateX(0);
    }
  }
  .single_linea_context:before {
    height: 50%;
  }

  #section_tres60,
  #section_arq_sos {
    background-position: center;
    background-size: auto 110%;
  }
  .tres60_description_container {
    font-size: 35px;
  }
  .bef_aft_sides {
    display: flex;
    flex-direction: column;
  }
  .bef_aft_left_side,
  .bef_aft_right_side {
    width: 75%;
    margin: auto;
  }

  #mapFoot {
    // height: 70vh;
    min-height: 400px;
    height: 100%;
  }
  .mazal_logo_footer img {
    max-width: 290px;
  }
  .footer_list_item {
    // margin: 1em 0;
  }
}

@media (max-width: 548px) {
  .galeria_title_container > h3 {
    transform: rotate(0deg);
    position: static;
    span {
      position: static;
    }
  }
  .galeria_description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .bef_aft_left_side,
  .bef_aft_right_side {
    width: 100%;
  }

  .portafolio_button {
    left: 1.6em;
  }
  .portafolio_show_more_wrap {
    height: 40vh;
  }
}
