.pagina-producto {
  padding-top: 70px;
}

.migadepan {
  margin-top: 30px;
}

.direccion-pagina {
  font-family: $font1;
  font-weight: 400;
  display: flex;
  align-items: center;
  .direccion-back {
    margin-right: 18px;
    margin: 0;
    a {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $chocolate;
      background: none;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      margin-right: 20px;
      &::before {
        content: "/";
        position: absolute;
        font-size: 18px;
        right: -15px;
      }
      a {
        color: #2b2b2b;
        transition: all 0.3s;
        &:hover {
          color: $dorado;
        }
      }
      &:last-child {
        a {
          color: $dorado;
        }
      }
    }
  }
}

.mailchimp_message {
  // margin: auto;
  justify-content: center;
  width: 100%;
  display: flex;
  p {
    // font-weight: bold;
    font-size: 18px;
    display: none;
    &.show {
      display: block;
      margin-bottom: 0;
    }
  }
  .message-danger {
    color: #ff8c8c;
  }
  .message-success {
    color: #61d457;
  }
}

.item-view {
  margin-top: 30px;
}

.item-information {
  max-width: 530px;
}

.action-for-item {
  margin-top: 35px;
  display: flex;
  .add {
    width: 60%;
    margin-right: 20px;
  }
  .add-love {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    i.icon-heart-o {
      color: $chocolate;
    }
    i.icon-heart {
      color: #8a0000;
      display: none;
    }
    &.active {
      i.icon-heart-o {
        display: none;
      }
      i.icon-heart {
        display: block;
      }
    }
    i {
      font-size: 28px;
    }
  }
  .share-whatsapp {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28px;
    }
  }
}

.item-title {
  font-size: 35px;
  text-transform: uppercase;
  font-family: raleway;
  font-weight: 500;
  letter-spacing: 4px;
}

.item-ref {
  color: #392819;
  font-weight: 600;
  font-size: 18px;
}

.item-features {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .feature {
    span:first-child {
      font-weight: 500;
      color: #666666;
    }
    a,
    span:last-child {
      color: #000;
    }
  }
}

.color-item-feature {
  margin-bottom: 20px;
}

.color-scheme-item {
  margin-top: 10px;
  ul {
    display: flex;
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      span {
        width: 32px;
        height: 32px;
        background: red;
        border-radius: 50%;
        display: flex;
        border: 2.2px solid white;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.56),
            0 1px 3px 1px rgba(60, 64, 67, 0.52);
        }
      }
    }
  }
}

.call-action-name {
  h3 {
    font-family: $font1;
    color: $yellowcolor;
    font-size: 30px;
    max-width: 460px;
    font-weight: 400;
  }
}

#container_slick_product {
  overflow: hidden;
  #loading_slick_product {
    background: #f1f1f1;
    .loading_spinner {
      border-color: #201818;
      border-right-color: transparent;
    }
  }
}

#image_product_slick {
  cursor: pointer;
}

.call-action {
  background-image: url(http://mazal.co/wp-content/themes/mazal/images/interna/background-call-action.jpg);
  background-color: #3b3b3b;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex;
  align-items: center;
  margin: 40px auto;

  .form-suscription {
    display: flex;
    align-items: center;
    input[type="text"] {
      border: 1px solid white;
      height: 45px;
      background: none;
      width: 100%;
      color: white;
      padding: 15px;
      font-size: 17px;
    }
    input[type="submit"] {
      color: white;
      background: $dorado;
      border: none;
      height: 45px;
      font-family: $font2;
      // padding: 10px 30px !important;
      min-width: 120px;
      width: -webkit-max-content;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

#tags_product {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  li {
    margin-right: 3px;
    margin-bottom: 5px;
    display: block;
    padding: 9px 15px;
    background: #efefef;
    border-radius: 2px;
    color: dimgrey;
    &:hover {
      background: #dfdfdf;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 430px !important;
  margin-left: auto;
  margin-right: auto;
}
// .swiper-wrapper {
//   width: 80%;
//   max-width: 500px;
// }
.gallery-thumbs .swiper-wrapper {
  width: 85%;
  margin: auto;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 100px !important;
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;
}
.gallery-thumbs .swiper-slide {
  height: 80px;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.item-swipper-gallery {
  cursor: pointer;
}
#gallery_product_slick .slick-current .swiper-slide {
  opacity: 1;
}
.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  i {
    font-size: 50px;
  }
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}

.item-swipper-image {
  height: 420px;
}
.related-item {
  h4 {
    color: $chocolate;
  }
  span.related_category {
    color: #656565;
  }
}

.cotizar_message {
  display: none;
  margin-bottom: 10px;
  &.show {
    display: block;
  }
}

.cotizar_success {
  color: #13922f;
  font-size: 17px;
  font-weight: 600;
  text-transform: none;
  display: none;
  &.show {
    display: block;
  }
}
.cotizar_error {
  color: #921313;
  font-size: 17px;
  text-transform: none;
  font-weight: 600;
  display: none;
  &.show {
    display: block;
  }
}
.related-items {
  margin-bottom: 60px;
  h3 {
    font-family: $font1;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .related-item {
    .image-related-item {
      position: relative;
      overflow: hidden;
      height: 200px;
      img {
        max-width: inherit;
      }
      // img {
      //   position: absolute;
      //   top: -999999px;
      //   bottom: -999999px;
      //   left: -999999px;
      //   right: -999999px;
      //   margin: auto;
      //   width: 100%;
      // }
    }
    h4 {
      font-family: $font1;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0;
    }
    span {
      font-size: 16px;
    }
    a {
      display: flex;
      color: rgba(10, 1, 1, 0.91);
      transition: all 0.3s;
      &:hover {
        color: rgba(36, 8, 8, 0.91);
      }
    }
  }
}

.compartir-area {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-between;
  max-width: 370px;
  img {
    height: 25px;
  }
  span {
    font-size: 18px;
    font-weight: 500;
  }
  .redes-compartir {
    margin-top: 20px;
    margin-left: 20px;
    li {
      margin-right: 30px;
      i {
        color: $dorado;
        font-size: 21px;
      }
    }
  }
}

.item .item-content {
  position: absolute;
  color: #fff;
  bottom: -100%;
  transition: all 0.5s;
  z-index: 2;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.item:hover .item-content {
  bottom: 20px;
}

@media (max-width: 1200px) {
  .action-for-item {
    button {
      padding: 15px 15px !important;
    }
  }
}

@media (max-width: 991px) {
  .item-information {
    max-width: 100%;
  }
  #container_slick_product {
    // margin-bottom: 30px;
  }
  .action-for-item .add-love {
    width: calc(40% - 20px);
  }

  .pagina-producto {
    padding-top: 70px;
  }
  .form-suscription {
    width: 60%;
    margin: auto;
    min-width: 380px;
  }
  .call-action-name h3 {
    max-width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

// @media (max-width:850px){
//   .form-suscription input{
//     min-width: inherit !important;
//   }
// }
@media (max-width: 768px) {
  // .pagina-producto{
  //   padding-top: 50px;
  // }
}

@media (max-width: 768px) {
  .banner-categoria {
    height: 28vh;
    min-height: 200px;
    // margin-top: 50px;
    h2 {
      font-size: 35px;
    }
  }
}

@media (max-width: 550px) {
  .migadepan {
    padding: 0 30px !important;
  }

  .form-suscription {
    display: block !important;
    input {
      width: 100%;
      max-width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .banner-categoria h2 {
    font-size: 30px;
  }
}

#button_cotizar_producto::before {
  display: none !important;
}

@media (max-width: 768px) {
  .item-information {
    .action-for-item {
      justify-content: space-between;
      .add {
        width: 70%;
        margin-right: 0;
      }
      .add-love {
        width: 30%;
      }
    }
  }

  .form-suscription {
    margin: auto;
    width: auto;
    min-width: auto;
  }
  .related_product_cl {
    // margin: 15px 0;
    margin-bottom: 10px;
  }
}

@media #{$mobile_query} {
  .swiper-button-prev,
  .swiper-button-next {
    i {
      font-size: 39px;
    }
  }
  .swiper-button-next {
    right: -11px;
  }
  .swiper-button-prev {
    left: -11px;
  }

  .gallery-top {
    height: 270px !important;
  }
  .item-swipper-image {
    height: 270px;
  }
  #container_slick_product {
    // padding: 0;
  }
  .item-title {
    font-size: 25px;
  }
  .item-ref {
    font-size: 16px;
  }
  .information_item {
    // padding: 0;
  }
  .call-action {
    padding: 35px 0;
  }
  .call-action-name h3 {
    font-size: 25px !important;
    margin-bottom: 20px;
  }
  .related-items h3 {
    font-size: 23px !important;
    // margin-bottom: 0;
  }

  .migadepan {
    margin-top: 20px;
  }
  .item-view {
    margin-top: 20px;
  }
}
