$speedtransition: 0.5s;
$cubictransition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$font1: "Quicksand";
$font2: "Quicksand";
$font3: "Bebas Neue Book";
$vh100: calc(100vh - 70px);
$vh100_mobile: calc(100vh - 50px);

$mobile_pixels: 548px;
$tablet_pixels: 767px;
$desktop_pixels: 991px;
$fluid_pixels: 1400px;

$mobile_query: "screen and (max-width:#{$mobile_pixels})";
$tablet_query: "screen and (max-width:#{$tablet_pixels})";
$desktop_query: "screen and (max-width:#{$desktop_pixels})";
$fluid_query: "screen and (max-width:#{$fluid_pixels})";

// Estos colores pueden cambiar en el administrador de personalización en WordPress
:root {
  --chocolate: #201818;
  --dorado: #8c7d6c;
  --yellowcolor: #dab27c;
  --blanco: #fff;
}

$chocolate: var(--chocolate);
// $chocolate: #201818;
// $chocolate: rgba(10, 1, 1, 0.91);
$yellowcolor: var(--yellowcolor);
// $yellowcolor: #dab27c;
$dorado: var(--dorado);
// $dorado:  rgba(140, 125, 108);
$blanco: var(--blanco);
// $blanco: #fff;
