@font-face {
    font-family: 'Bebas Neue Book';
    src: url('assets/fonts/BebasNeueBook.woff2') format('woff2'),
        url('assets/fonts/BebasNeueBook.woff') format('woff'),
        url('assets/fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg';
    src: url('assets/fonts/lg.woff2') format('woff2'),
        url('assets/fonts/lg.woff') format('woff'),
        url('assets/fonts/lg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

