$icomoon-font-family: "mazal" !default;
$icomoon-font-path: "assets/fonts" !default;

$icon-arrow_left: "\e905";
$icon-arrow_right: "\e906";
$icon-search: "\e904";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-house: "\e900";
$icon-logo: "\e901";
$icon-logo_min: "\e902";
$icon-houzz: "\e907";
$icon-bars: "\e903";



@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ldwo7q');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ldwo7q#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ldwo7q') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ldwo7q') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ldwo7q##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-house {
  &:before {
    content: $icon-house; 
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;     
    color: #fff;
  }
}
.icon-logo_min {
  &:before {
    content: $icon-logo_min;     
    color: #fff;
  }
}
.icon-houzz {
  &:before {
    content: $icon-houzz; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}

